#@{libName}-header {
    position: relative;
    background-color: #3E4756;
    display: table;
    width: 100%;
    padding: 4px 2px 0 0;

    .@{libName}-header__cell {
        display: table-cell;
    }

        .@{libName}-header__cell_image {
            width: 80px;
            text-align: center;
            vertical-align: middle;
        }

        .@{libName}-header__cell_title {
            vertical-align: middle;
        }

    .@{libName}-header__image {
        overflow: hidden;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background-size: cover;
        display: inline-block;
        border: 1px solid #707680;
    }

    .@{libName}-header__title {
        color: white;
        font-weight: bold;
    }

    .@{libName}-header__subtitle {
        color: white;
    }

    .@{libName}-header__close {
        position: absolute;
        left: -20px;
        top: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        cursor: pointer;

        &:after {
            content: '❌';
        }
    }
}
