@header-bg-color: #3E4756;

#@{libName}-header {
    position: relative;
    background-color: @header-bg-color;
    display: table;
    width: 100%;
    padding: 4px 2px 0 0;
    border-bottom: 1px solid @header-bg-color;

    .@{libName}-header__cell {
        display: table-cell;
    }

        .@{libName}-header__cell_image {
            width: 80px;
            text-align: center;
            vertical-align: middle;
        }

        .@{libName}-header__cell_title {
            color: white;
            vertical-align: middle;
        }

    .@{libName}-header__image {
        overflow: hidden;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background-size: cover;
        display: inline-block;
        border: 1px solid #707680;
    }

    .@{libName}-header__title {
        font-weight: bold;
    }

    .@{libName}-header__subtitle {
        font-weight: normal;
    }

    .@{libName}-header__close {
        position: absolute;
        left: -20px;
        top: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        cursor: pointer;

        &:after {
            content: '❌';
        }
    }
}
